* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.copyright {
    width: 1920px;
    height: 39px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
}

.navbar {
    width: 1920px;
    height: 59px;
    background-color: #212529;
    position: relative;
}

.logo {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin: -3px 0 0 60px !important;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-right: 52px;
}

a:hover {
    text-decoration: underline;
    color: #5683e9;
}

.direction {
    margin: 16px 0 0 562px;
    position: absolute;
    right: 60px;
    top: -1px;
}

.section {
    width: 1920px;
    height: 140px;
    background-color: #4A3DB5;
    padding-top: 24px;
}

.main-contents {
    max-width: 1320px;
    width: 100%;
    height: 542px;
    background-color: #ffffff;
    margin: 48px auto;
    position: relative;
    overflow-x: auto;
}

.main-contents h1 {
    margin-left: 12px;
    font-weight: 500;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
}

.add-test-button {
    width: 122px;
    height: 38px;
    border-radius: 6px;
    background-color: #0d6efd;
    color: white;
    border: none;
    margin: 24px 0 0 12px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.add-test-button:hover {
    background-color: #0a58ca;
    cursor: pointer;
}

.footer {
    width: 1920px;
    height: 56px;
    background-color: #333333;
    padding: 16px;
    margin-top: 24px;
}

.table-custom {
    width: 100%;
    margin: 16px 0 0 12px;
}

th {
    color: white;
    font-size: 16px;
    font-weight: 800 !important;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border-right: 1px solid gray;
}

th:nth-child(1) {
    width: 65px;
    height: 41px;
}

th:nth-child(2) {
    text-align: left;
    width: 320px;
    height: 41px;
}

th:nth-child(3) {
    width: 220px;
    height: 41px;
    text-align: left;
}

th:nth-child(4) {
    width: 276px;
    height: 41px;
    text-align: left;
}

th:nth-child(5) {
    width: 170px;
    height: 41px;
    text-align: left;
}

th:nth-child(6) {
    width: 180px;
    height: 41px;
    text-align: center;
}

td {
    border: 0.5px solid #e3e6e9;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-top: 10px !important;
}

tr td:nth-child(1), tr td:nth-child(6) {
    text-align: center;
}

.search-test-name {
    width: 220px;
    height: 38px;
    border-radius: 6px;
    border: 0.5px solid rgb(178, 178, 178);
    box-sizing: border-box;
    padding: 0 10px 0 10px;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 70px;
    right: 0px;
}

.search-test-name::placeholder {
    font-weight: 400;
    font-size: 16px;
}

.select-sort-test {
    width: 220px;
    height: 38px;
    border-radius: 6px;
    border: 0.5px solid rgb(178, 178, 178);
    box-sizing: border-box;
    padding: 0 10px 0 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 70px;
    right: 248px;
}

.search-test-name {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.search-test-name::placeholder {
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.pagination {
    margin: 30px 400px;
    display: flex;
    justify-content: center;
}

.page {
    width: 36px;
    height: 38px;
    border: 1px solid #DEE2E6;
    font-size: 16px;
    font-weight: 400;
    color: #0d6efd;
}

.active-page {
    background-color: #0d6efd;
}

.inactive-page {
    background-color: white;
}

#prev {
    background-color: white;
    color: white;
    width: 35px;
    height: 38px;
    border: none;
    cursor: pointer;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color: #212529;
    border: 1px solid #DEE2E6;
}

#next {
    background-color: white;
    color: white;
    width: 35px;
    height: 38px;
    border: 1px solid #DEE2E6;
    cursor: pointer;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #212529;
}

button:disabled {
    background-color: #ccc !important; 
    color: #666;
    cursor: not-allowed;
    opacity: 0.8;
}

button:disabled:hover {
    cursor: not-allowed !important;
}

.edit-test-button, .delete-test-button {
    width: 41px;
    height: 31px;
    border-radius: 4px;
    color: black;
    background-color: #FFC107;
    border: none;
    font-size: 14px;
    font-weight: 400;
}

.delete-test-button {
    width: 58px;
    height: 31px;
    background-color: #dc3545;
    color: white;
}

.modal-body-custom {
    padding: 24px 0 14px 70px !important;
}