@font-face {
    font-family: 'Font_Style_1';
    src: url('../assets/fonts/Poppins-Medium.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Font_Style_2';
    src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Font_Style_3';
    src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: #f8fafc;
    user-select: none;
}

.main-container {
    width: 1600px;
    height: 1200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 105px; 
    background-image: url(../assets/images/Login_Register_Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title-container {
    width: 636px;
    height: 170px;
}

.title {
    width: 636px;
    height: 62px;
    font-family: 'Font_Style_1', sans-serif;
    font-size: 52px;
    text-align: center;
    font-weight: 600;
}

.info {
    width: 494px;
    height: 90px;
    font-family: 'Font_Style_2', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 18px 0 22px 0;
    text-align: center;
    color: #52525B;
}

.register-field {
    width: 533px;
    height: auto;
    padding: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.3);
}

input::placeholder {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #52525B;
    font-family: 'Font_Style_2', sans-serif;
}

input {
    width: 472px !important;
    height: 65px;
    font-size: 20px !important;
    border: 1px solid #E4E4E7 !important;
    border-radius: 9px !important;
    margin: 0 0 25px 15px !important;
    box-sizing: border-box !important;
    padding: 20px !important;
    font-weight: 400 !important;
}

input:nth-child(1) {
    margin-top: 25px !important;
}

input:nth-of-type(4) {
    margin-bottom: 0 !important;
}

input:focus {
    outline: none !important;
    border: 2px solid #0d6efd !important;
}

.register-button {
    width: 472px;
    height: 65px;
    font-size: 16px;
    background-color: #0d6efd;
    color: white;
    font-weight: 600;
    font-family: 'Font_Style_2', sans-serif;
    border: none;
    border-radius: 9px;
    margin: 63px 0 0 15px;
}

.login-button:hover, .register-button:hover {
    background-color: #0348b0;
    cursor: pointer;
}

.register-status {
    width: 444px;
    height: 25px;
    font-size: 13px;
    text-align: center;
    font-family: 'Font_Style_2', sans-serif;
    font-weight: 400;
    margin: 30px 0 0 44px;
}

.register-status a {
    font-size: 15px;
    text-decoration: none;
    color: #0d6efd;
    font-family: 'Font_Style_3', sans-serif;
    font-weight: 600;
}

.login-link:hover {
    text-decoration: underline;
}

i {
    font-size: 20px;
}

span:not(:last-of-type) {
    font-family: 'Font_Style_2', sans-serif;
    font-weight: 400;
}

.register-status span {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Font_Style_2', sans-serif;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
}
